@tailwind base;
@tailwind components;
@tailwind utilities;

@mixin container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 24px;
  padding-right: 24px;
  max-width: 1202px;
  width: 100%;
}
